/*==============================
=            SCREEN            =
==============================*/
/*==============================
=            LAYOUT            =
==============================*/
/* HEADER */
/* ABOUT */
/* SIDEBAR */
/* TITLE POST */
/* CATEGORY POST */
/* DESCRIPTION POST */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}


dfn {
  font-style: italic;
}


mark {
  background: #ff0;
  color: #000;
}


code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}


pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}


q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}


q:before, q:after {
  content: '';
  content: none;
}


small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sup {
  top: -0.5em;
}


sub {
  bottom: -0.25em;
}


img {
  border: 0;
}


svg:not(:root) {
  overflow: hidden;
}


figure {
  margin: 0;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


legend {
  border: 0;
  padding: 0;
  white-space: normal;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}


button, input {
  line-height: normal;
}


button,
select {
  text-transform: none;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}


button[disabled],
input[disabled] {
  cursor: default;
}


button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


textarea {
  overflow: auto;
  vertical-align: top;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}


a {
  text-decoration: none;
}

a:link {
  color: #00c;
}

a:visited {
  color: #7A007A;
}

a:hover {
  color: #000066;
}

a:active {
  color: #444;
}


body {
  background: #eee;
  font-family: "Open Sans", "Tahoma", sans-serif;
}


.ishide {
  display: none;
}


.horizontal.list {
  display: block;
  position: relative;
}

.horizontal.list .item {
  display: inline-block;
  padding: 0 .5em;
}


.header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: #487aa9;
  height: 50px;
  line-height: 50px;
  z-index: 999;
  box-shadow: rgba(50, 50, 50, 0.45) 0px 2px 1px 0px;
}

.header .menu {
  width: 100%;
  padding: 0 2em;
}

.header .menu .right {
  float: right;
}

.header .menu .item {
  position: relative;
  color: white;
  text-transform: uppercase;
  padding: 0 1em !important;
  font-weight: 600;
}

.header .menu .item.active {
  background: rgba(84, 135, 182, 0.8);
}

.header .menu .item:hover {
  background: #406d97;
}


.sidebar {
  padding: 0 0 1em 2em;
  box-shadow: rgba(50, 50, 50, 0.1) -2px 0px 0px 0px;
}


.about {
  text-align: justify;
  line-height: 1.5em;
  color: inherit;
  font-size: 14px;
}

.about .logo {
  background: url(/images/logotipo.png) no-repeat;
  background-size: 160px 120px;
  width: 160px;
  height: 120px;
  margin: 1em auto;
  display: block;
}


.cloud-tags {
  text-align: center;
}

.cloud-tags .item {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  line-height: 1.5em;
}

.cloud-tags .item:hover {
  color: #3e5165;
}

.cloud-tags .item:active {
  color: #2a3746;
}


.social {
  padding: 1.5em 0;
  text-align: center;
}

.social .item {
  color: #444;
  font-size: 30px;
  padding: 0 0.2em !important;
}

.social .item:hover {
  color: #2b2b2b;
}

.social .item:active {
  color: #111111;
}


.feed {
  float: left;
}


.pagination .menu {
  border-radius: 5px;
  display: inline-block !important;
  margin: 1em auto;
  text-align: center;
  border: 1px solid #ccc;
}

.pagination .menu .item {
  padding: 0.5em 0.8em !important;
  color: #333;
  margin: -2px;
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.pagination .menu .item:not(:first-child) {
  border-left: 1px solid #ccc;
}

.pagination .menu .item:hover {
  color: #1a1a1a;
}

.pagination .menu .item.active {
  border-bottom-color: #444;
  font-weight: bold;
}


.posts.list > .item {
  padding: 1em 0;
}

.posts.list > .item .info {
  padding: .5em 0;
  display: block;
  position: relative;
}


.post .title {
  font-weight: 600;
  font-size: 26px;
  color: #333;
  display: inline-block;
  line-height: 26px;
}

.post .category {
  font-weight: 600;
  font-size: 14px;
  color: #516a85;
  display: inline-block;
  text-transform: uppercase;
  float: right;
  vertical-align: middle;
  line-height: 26px;
}

.post .category:hover {
  color: #373737;
}

.post .category:active {
  color: darkem(#444, 10%);
}

.post .description {
  text-align: justify;
  font-size: 16px;
  color: #444;
  line-height: 1.5em;
}

.post .description.preview p {
  margin: 0 !important;
}

.post .meta {
  padding-top: .6em;
}

.post .meta .row {
  position: relative;
  display: block;
}

.post .meta .row:not(:first-child) {
  padding-top: .5em;
}

.post .meta .row > div {
  vertical-align: middle;
  display: inline-block;
  font-weight: 600;
  color: #444;
  font-size: 14px;
}

.post .meta .row > div [class^="icon-"] {
  padding-right: 5px;
  vertical-align: middle;
}

.post .meta .right {
  float: right;
}

.post .meta .row .comments a{
  color: #444;
}

.read {
  width: 90%;
  margin: 1em auto;
  /* Vertical rhythm of 1.5em */
  /* Allow horizontal scrolling on wide snippets */
  /* Inline code */
  /* List items are flush with the left text alignment */
}

.read .title {
  font-size: 2em;
}

.read p {
  margin: 1.5em 0;
  line-height: 1.5em;
  letter-spacing: 0.01rem;
  font-size: 1rem;
}

.read pre {
  padding: 1em;
  font-size: 13px;
}

.read pre, .read code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.read code {
  padding: 0.2em 0.4em 0.1em 0.4em;
  font-size: 0.9em;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 0.3em;
}

.read a:hover code {
  background-color: #f1eaec;
}

.read .highlight {
  position: relative;
  border-radius: 0.2em;
}

.read .highlight:before {
  content: "\f121";
  position: absolute;
  top: 50%;
  left: -1.7em;
  margin-top: -0.45em;
}

.read .highlight code {
  padding: 0;
  font-size: 1.0em;
  background-color: transparent;
  white-space: pre;
  border-radius: 0;
}

.read blockquote {
  position: relative;
  margin: 0;
  font-style: italic;
}

.read blockquote p:before {
  content: open-quote;
}

.read blockquote p:after {
  content: close-quote;
}

.read .tags:before, .read .comment-count:before, .read .highlight:before {
  font-family: "FontAwesome";
  font-size: 0.9em;
  font-weight: normal;
  color: #ddd;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.read .tags:hover:before, .read .comment-count:hover:before, .read .highlight:hover:before {
  color: #aaa;
}

.read ul, .read ol, .read dl {
  padding-left: 0;
}

.read li {
  margin-bottom: 0.75em;
}

.read h2 {
  margin: 1.5em 0;
  font-weight: bold !important;
  font-size: 18px !important;
}


.search.input {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
}

.search.input > input {
  padding-left: 2.5em !important;
  padding-right: 1.2em !important;
  margin: 0;
  padding: .5em 1em;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125em;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
}

.search.input > .icon {
  cursor: default;
  position: absolute;
  opacity: .7;
  top: 0;
  right: auto;
  left: 1px;
  margin: 0;
  width: 2.6em;
  height: 100%;
  padding-top: .65em;
  text-align: center;
  border-radius: 0.3125em 0 0 0.3125em;
}

.search.results {
  width: 90%;
  margin-right: 1em;
}

.search.results .item {
  padding: .6em 0;
}

.search.results .item .title {
  text-decoration: underline;
  color: #333;
  font-size: 20px;
}

.search.results .item .url {
  color: #666;
  font-size: 14px;
}

.search.results .item .description {
  font-size: 15px;
}
