*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==============================
=            SCREEN            =
==============================*/
/*==============================
=            LAYOUT            =
==============================*/
/* HEADER */
/* ABOUT */
/* SIDEBAR */
/* TITLE POST */
/* CATEGORY POST */
/* DESCRIPTION POST */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.wrapper {
  margin-top: 5.08475%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:after {
  content: " ";
  display: block;
  /*clear: right;*/
}
.feed {
  width: 100%;
}

.sidebar {
  margin-top: 50px;
  width: 100%;
  float: right;
  margin-right: 0;
}

.search-tags {
  display: none;
}

.posts {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.posts:after {
  content: " ";
  display: block;
  clear: both;
}
.pagination {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.pagination:after {
  content: " ";
  display: block;
  clear: both;
}

@media(max-width: 768px) {
  .sidebar {
    box-shadow: none;
  }

  .search {
    width: 100% !important;
  }

  .header .menu .item {
    font-size: 10px;
  }

  .sidebar {
    padding-left: 0;
  }

  .feed {
    padding-left: 0;
  }

  .posts {
    max-width: 100%;
  }
}

@media(min-width: 768px) {
  .feed {
    width: 74.57627%;
    float: left;
    padding-top: 0;
  }
  .sidebar {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  .search-tags {
    display: block;
  }

}