---
layout: default
---
<div class="post read">
	<div class="title">{{ page.title }}</div>
    <div class="meta">
        <div class="row">
        	<div class="author"><i class="icon-user"></i> {{ page.author }}</div>
            <div class="date right"><i class="icon-calendar"></i> {{ page.date | date: "%-d/%m/%y" }}</div>
        </div>
    </div>
    
	<div class="description">
		{{ content }}
	</div>
    
    <div class="sharing">
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_reddit_large' displayText='Reddit'></span>
        <span class='st_digg_large' displayText='Digg'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_email_large' displayText='Email'></span>
    </div>

    <div class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'phppb';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>